{% extends 'shared/_base.html' %}
{% load static %}

{% block title %}ورود{% endblock %}

{% block content %}
    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="signup-form"><!--sign up form-->
                        <h2>ورود کاربر</h2>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li class="alert alert-{{ message.tags }} 
                                    {% if message.tags == 'error' %}
                                    alert-danger
                                    {% endif %} 
                                     alert-dismissible fade in">
                                        <button type="button" class="close pull-left" data-dismiss="alert"
                                                aria-label="Close"><span
                                                aria-hidden="true">×</span></button>
                                        {{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <form action="{% url 'user:login' %}" method="post">
                            {% csrf_token %}

                            {{ form.email.label_tag }}
                            {{ form.email.errors }}
                            {{ form.email }}
                            {{ form.password.label_tag }}
                            {{ form.password.errors }}
                            {{ form.password }}
                            <p>
                                <a href="{% url 'user:forget_pass' %}">فراموشی کلمه عبور</a>
                            </p>
                            <p>
                                حساب کاربری ندارید؟
                                <a href="{% url 'user:register' %}">ثبت نام</a>
                            </p>
                            <button type="submit" class="btn btn-default">وارد شوید</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </section>
    </div>
{% endblock %}