{% load static %}

<header id="header"><!--header-->
    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4" style="text-align: left;">
                    <div class="logo">
                        <a href="index.html"><img
                                src="

                                        {% if site_settings %}{{ site_settings.logo.url }}{% else %}{% static 'images/home/logo.png' %}{% endif %}"
                                alt="Logo"
                                style="text-align: center;"/></a>
                    </div>
                </div>

                <div class="col-sm-8 header-middle-menu">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'user_panel:dashboard' %}"><i class="fa fa-dashboard"></i> پنل کاربری</a></li>
                                <li><a href="{% url 'index:home' %}"><i class="fa fa-shopping-cart"></i> سبد خریـد</a>
                                </li>
                                <li><a href="{% url 'user:logout' %}"><i class="fa fa-sign-out"></i> خروج</a></li>
                            {% else %}

                                <li><a href="{% url 'user:register' %}"><i class="fa fa-user"></i> ثبت نام</a></li>
                                <li><a href="{% url 'user:login' %}"><i class="fa fa-sign-in"></i> ورود</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">

                <div class="col-sm-3">
                    <div class="search_box pull-left">
                        <input type="text" placeholder="جستـجو"/>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="mainmenu pull-right">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a class="{% if request.resolver_match.url_name == 'home' %}
                            active
                            {% endif %}" href="{% url 'index:home' %}">خـانه</a></li>
                            <li><a class="{% if request.resolver_match.url_name == 'product_list' %}
                            active
                            {% endif %}" href="{% url 'product:product_list' %}">فروشگاه</a></li>
                            <li><a class="{% if request.resolver_match.url_name == 'about' %}
                            active
                            {% endif %}" href="{% url 'about_us:about' %}">درباره مـا</a></li>
                            <li><a class="{% if request.resolver_match.url_name == 'contact' %}
                            active
                            {% endif %}" href="{% url 'contact:contact' %}">تماس با مـا</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->
