{% extends 'shared/_base.html' %}
{% load static %}

{% block content %}
    {% include 'index/index_slider.html' %}
    <section>
        <div class="container">
            <div class="row">

                {% include 'index/index_new_product.html' %}

                <div class="col-sm-12 padding-right">
                    {% include 'index/index_retail_sale_items.html' %}

                    {% include 'index/index_whole_sale_items.html' %}

                    {% include 'index/index_category_tab.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}