{% extends 'shared/_base.html' %}
{% load static %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="alert alert-{{ message.tags }}
                                    {% if message.tags == 'error' %}
                                    alert-danger
                                    {% endif %}
                                     alert-dismissible fade in">
                    <button type="button" class="close pull-left" data-dismiss="alert"
                            aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    {{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% include 'index/index_slider.html' %}
    <section>
        <div class="container">
            <div class="row">

                {% include 'index/index_new_product.html' %}

                <div class="col-sm-12 padding-right">
                    {% include 'index/index_retail_sale_items.html' %}

                    {% include 'index/index_whole_sale_items.html' %}

                    {% include 'index/index_category_tab.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}