{% load static %}

<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for slider in sliders %}
                            <li data-target="#slider-carousel"
                                data-slide-to="{{ forloop.counter0 }}"
                                class="{% if forloop.first %} active {% endif %}">
                            </li>
                        {% endfor %}
                    </ol>

                    <div class="carousel-inner">
                        {% for slider in sliders %}
                            <div class="item active">
                                <div class="col-sm-6">
                                    <h1>{{ slider.title }}</h1>
                                    <h2>{{ slider.sec_title }}</h2>
                                    <p>{{ slider.description }}</p>
                                    <a href="{{ slider.url }}" class="btn btn-default get">{{ slider.url_title }}</a>
                                </div>
                                <div class="col-sm-6">
                                    <img src="{% if slider.image %}
                                    {{ slider.image.url }}
                                    {% else %}
                                    {% static 'images/home/girl2.jpg' %}
                                    {% endif %} " class="girl img-responsive" alt=""/>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->
