{% load static thumbnail %}

<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for slider in sliders %}
                            <div class="item active">
                                <div class="col-sm-6">
                                    <h1>{{ slider.title }}</h1>
                                    <h2>{{ slider.sec_title }}</h2>
                                    <p>{{ slider.description }}</p>
                                    <a href="{{ slider.url }}" class="btn btn-default get">{{ slider.url_title }}</a>
                                </div>
                                <div class="col-sm-6">
                                    {% thumbnail slider.image "484x441" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    {% endthumbnail %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->
