{% load static humanize thumbnail %}

<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                {% if product.image %}
                    {% thumbnail product.image "268x250" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% else %}
                    <img src="{% static 'images/shop/product.jpg' %}" alt=""/>
                {% endif %}
                <h2>{{ product.title }}</h2>
                <h4>{{ product.price|intcomma }} تومان</h4>
                <p>{{ product.short_description }}</p>
                <a onclick="addProductToCart({{ product.id }})" class="btn btn-default add-to-cart"><i
                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    <h2>{{ product.price|intcomma }} تومان</h2>
                    <p>توضیحات کوتـاه محصـول</p>
                    <a onclick="addProductToCart({{ product.id }})" class="btn btn-default add-to-cart"><i
                            class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                </div>
            </div>
            {% if product.is_sale %}
                <img src="{% static 'images/home/sale.png' %}" class="new" alt=""/>
            {% endif %}
            {% if product.is_new %}
                <img src="{% static 'images/home/new.png' %}" class="new" alt=""/>
            {% endif %}
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="{{ product.get_absolute_url }}"><i class="fa fa-plus-square"></i>جزئیات محصول</a></li>
                {#                <li><a href=""><i class="fa fa-plus-square"></i>مقایسه</a></li>#}
            </ul>
        </div>
    </div>
</div>